# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/


.idea/


.idea/
.env

database.yml
database.yaml

environment.yml
environment.yaml

cache.yml
cache.yaml

log.yml
log.yaml

.DS_Store

configs/
powerX
powerX-dev
powerX-dev-linux
powerX-migrate-dev
powerX-migrate-linux
powerX-seed-dev
powerX-seed-linux

*.log

temp/**