.idea/
*.iml
.DS_Store

logs
*.log
.logs/
.var
.run
temp

resource/static
etc/powerx-*
etc/powerx.yaml
.deploy/*
.build
powerx.go
powerxctl
powerx
/data/*

!internal/uc/powerx
!cmd/server/powerx.go
/plugins