POWERX_ENV=prod
POWERX_MODE=systemd
POWERX_BACKEND_PORT=8080
POWERX_WEB_ADMIN_PORT=3000
POWERX_GRPC_PORT=9010
DATABASE_DSN=postgres://powerx:powerx@127.0.0.1:5432/powerx?sslmode=disable
REDIS_ADDR=127.0.0.1:6379

# 开发环境参考：
# POWERX_ENV=dev
# POWERX_BACKEND_PORT=8077
# POWERX_WEB_ADMIN_PORT=3030
# POWERX_GRPC_PORT=9001
