POWERX_BACKEND_TAG=latest
POWERX_RUNNER_TAG=latest
POWERX_WEB_ADMIN_TAG=latest
POWERX_BACKEND_PORT=8080
POWERX_WEB_ADMIN_PORT=3000
POWERX_ENV=prod
POWERX_MODE=docker
DATABASE_DSN=postgres://powerx:powerx@postgres:5432/powerx?sslmode=disable
REDIS_ADDR=redis:6379
