name: Go Build

on: [ push ]
jobs:
  build-go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.21

      - name: Build
        run: cd cmd/server && go build

