name: Go Test

on: [ push ]
jobs:
  test-go:
    runs-on: ubuntu-latest
    env:
        API_V3_KEY: ${{ secrets.API_V3_KEY }}
    steps:
      - uses: actions/checkout@v1
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.21
      - name: Test
        run: cd cmd/server && go test
